services:
  postgres:
    image: 'postgres:latest'
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
